.navbar{
    background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cover{
    height: 400px;
    background-image:url('/rsz_lauren-mancke-aoc7tslb1o8-unsplash.jpg');
    background-size:cover;
    color:rgba(255, 255, 255, 0.753);
    background-position:center;
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode:darken;
}

.presentacion{
    flex-direction: none;
    width: 800%;
}
